*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
RSS_Reader_Feature_Graphic.png
RSS_Reader_Feature_Graphic.xcf
screenshot_phone_feeds.png
screenshot_phone_subscriptin.png
screenshot_phone_web.png
screenshot_tablet_feeds.png
screenshot_tablet_subscription.png
screenshot_tablet_web.png
